@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl font-bold
    }

    h2 {
        @apply text-2xl font-bold
    }

    h3 {
        @apply text-xl font-bold
    }

    h4 {
        @apply text-lg font-bold
    }

    h5 {
        @apply text-base font-bold
    }

    h6 {
        @apply text-sm font-bold
    }
}

#nprogress .bar {
    background: #ec4899 !important;
    box-shadow: 0 0 10px #ec4899, 0 0 5px #ec4899 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #ec4899, 0 0 5px #ec4899 !important;
}